doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
        style.
            #preview {
                max-width: 400px;
                max-height: 400px;
            }
        
body
    div.container
        p(style='text-align: center;margin-top: 10px;')
            a.thumbnail
                img#preview.image-responsive(style='display: none')

        p
            pre.md
            pre.link

        p
            form.form-inline(action='/upload', method='post', enctype='multipart/form-data', role='form')
                div.form-group
                    input(type='file', name='file')

    script(type='text/javascript', src='/js/index.js')
